/* main.scss
 * main sass entrypoint
 * yotam 2017
 */
/* palette.scss
 * colors for website
 * Yotam 2017
 */
.issue-link {
  display: block;
  height: 300px;
  position: relative;
  background-color: #002F4D;
  border-radius: 5px;
  overflow: visible;
  padding: 20px 10px 0 10px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .issue-link:after {
    content: " ";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .issue-link:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05); }
  .issue-link:hover:after {
    opacity: 1; }

.issue-link--image {
  border-radius: 5px;
  height: 100%;
  opacity: 0.8;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .issue-link--image:hover {
    opacity: 1; }

.issue-link--title {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  color: white;
  background-color: #12A8E0;
  display: inline;
  font-family: "Muli", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 600; }
  @media (max-width: 524px) {
    .issue-link--title {
      font-size: 24px;
      line-height: 36px; } }

.quicklook--issue {
  padding: 20px 10px;
  font-size: 32px;
  margin-bottom: 30px;
  font-family: "Muli", sans-serif;
  font-weight: 500;
  color: white;
  border-radius: 3px;
  padding-right: 100px;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .quicklook--issue .quicklook--emphasis {
    font-size: 48px;
    line-height: 48px;
    position: absolute;
    right: 20px;
    top: 20px; }
  .quicklook--issue:after {
    content: " ";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .quicklook--issue:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05); }
  .quicklook--issue:hover:after {
    opacity: 1; }

.quicklook--issue--yes {
  background-color: #005D9A; }

.quicklook--issue--no {
  background-color: #E21F2D; }

.expandable-container.expandable-container--fresh {
  border: none;
  padding: 20px 15px 0 15px;
  border-bottom: 1px solid #eee; }
  @media (min-width: 568px) {
    .expandable-container.expandable-container--fresh:hover, .expandable-container.expandable-container--fresh.expanded {
      -webkit-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05); } }
  .expandable-container.expandable-container--fresh:hover:after, .expandable-container.expandable-container--fresh.expanded:after {
    opacity: 1; }
  .expandable-container.expandable-container--fresh:after {
    content: " ";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .expandable-container.expandable-container--fresh h3.expandable-title {
    display: inline;
    padding: 0 5px;
    margin: 20px 0 20px 0;
    position: relative; }
  .expandable-container.expandable-container--fresh.expanded h3.expandable-title {
    background-color: #005D9A;
    color: white;
    font-size: 32px; }
  .expandable-container.expandable-container--fresh .expandable-content {
    margin-top: 16px;
    font-size: 16px; }

/* the code below was generated by the sass source files to which I no longer have access */
.expandable-container {
  border: 2px solid #999;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
  margin-bottom: 20px;
  transition-duration: 0.4s; }

.expandable-container .expandable-title .fa {
  height: 80%;
  padding: 18px 10px;
  padding-right: 30px;
  float: left;
  margin-left: 20px; }

h3 {
  padding: 18px 25px;
  font-size: 32px;
  line-height: 46px;
  color: #443F3F;
  transition-duration: 0.4s; }

.expandable-container .expandable-title .hashtag-icon {
  font-size: 42px;
  float: left;
  font-weight: 700;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 5px;
  color: #443F3F;
  font-family: "Muli", sans-serif; }

.expandable-container .expandable-title .hashtag-icon:hover, .expandable-container .expandable-title .hashtag-icon:active {
  color: #002F4D; }

.expandable-container .expandable-content {
  max-height: 0;
  transition: max-height 0.5s ease-in;
  overflow: hidden;
  padding-right: 50px;
  width: 90%;
  margin-left: 40px; }

@media (max-width: 768px) {
  .expandable-container .expandable-content {
    width: 100%;
    margin-left: 0; } }
.expandable-container .expandable-content p, .expandable-container .expandable-content ul, .expandable-container .expandable-content li {
  cursor: default; }

.expandable-container.expanded .expandable-content {
  margin-bottom: 40px;
  max-height: fit-content; }

.expandable-container .expandable-button {
  font-family: "Muli", sans-serif;
  font-weight: 200;
  bottom: 0;
  width: 100%;
  background-color: #999;
  transition-duration: 0.4s;
  color: #fff;
  text-align: center;
  padding: 5px 0; }

.expandable-container:hover, .expandable-container:active {
  border-color: #002F4D; }

.expandable-container:hover .expandable-button, .expandable-container:active .expandable-button {
  background-color: #002F4D; }

.expandable-container:hover .expandable-title h3, .expandable-container:hover .expandable-title .fa, .expandable-container:active .expandable-title h3, .expandable-container:active .expandable-title .fa {
  color: #002F4D; }

/*# sourceMappingURL=mayor.css.map */
